<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="./img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
<link rel="manifest" href="./img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./img/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Plumber</title>
  </head>
  <body>
<section class="container ">
  <aside>
    <div class="sidebar-top">
      <div class="logo">
        <img src="../img/logo.png" alt="logo" />
      </div>
      <div class="close" id="close">
        <span class="material-icons-sharp">
          close
          </span>
      </div>
    </div>
    <div id="sidebar" class="sidebar">
      <a href="#" class="active">
        <span class="material-icons-sharp">
          grid_view
          </span>
          <h3>Home Page</h3>
      </a>
      <a href="/users/getComplaints">
        <span class="material-icons-sharp">
          receipt_long
          </span>
          <h3>Complaints</h3>
      </a>
      <div class="sidebarBottom">
        <a href="#">
          <span class="material-icons-sharp">
            help_outline
            </span>
            <h3>Help</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">
            contact_support
            </span>
            <h3>Get Help</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">
            list_alt
            </span>
            <h3>Read Teams</h3>
        </a>
        <a href="/logout">
          <span class="material-icons-sharp">
            logout
            </span>
            <h3>Sign Out</h3>
        </a>
      </div>
    </div>
  </aside>
  <main class="mainContent">
    <div class="box">
              {{#if message}}
                  <div class="alert alert-success">
                      {{message}}
                  </div>
              {{/if}}
        
        <form action="/users/bookComplaint" method="post">
      <label for="product">Select Product</label>
      <select name="product" id="product">
        <option value="">Select a product</option>
        {{#each records}}
                    <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>

      <label for="warranty">Select Warranty</label>
      <select name="warranty" id="warranty" required>
        <option value="">In Warrenty</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    
      <label for="issue">Issue Description</label>
      <textarea name="issue" id="issue" rows="5" required></textarea>

      <label for="timeslot">Select Time Slot</label>
      <select name="timeslot" id="timeslot" required>
        <option value="">Select time slot</option>
        <option value="9am">9:00am</option>
        <option value="10am">10:00am</option>
      </select>

      <label for="address">Your Address</label>
      <textarea name="address" id="address" rows="3" required></textarea>
     
      <input type="submit" value="Book Complaint" name="submit" class="btn btn-primary">
    </form>

      
    </div>
  </main>

  <div class="mobileHeader">
    <div class="logo">
      <img src="./img/logo.png" alt="logo" />
    </div>
    <div class="menutogler" id="menubtn">
      <span class="material-icons-sharp">
        menu
        </span>
    </div>
  </div>
</section>
<script src="/js/main.js"></script>

<script>
  var selDiv = "";
		
	document.addEventListener("DOMContentLoaded", init, false);
	
	function init() {
		document.querySelector('#files').addEventListener('change', handleFileSelect, false);
		selDiv = document.querySelector("#selectedFiles");
	}
		
	function handleFileSelect(e) {
		
		if(!e.target.files) return;
		
		selDiv.innerHTML = "";
		
		var files = e.target.files;
		for(var i=0; i<files.length; i++) {
			var f = files[i];
			
			selDiv.innerHTML += f.name + "<br/>";

		}
		
	}
</script>


    </body>
   </html>